@model IEnumerable<electronics_shop.Models.ShoppingCartItem>

@if (Model != null)
{
    <h3 class="text-center"> sản phẩm nào!</h3>

    foreach (var item in Model)
    {
        <a class="transition-all-300 flex h-[100px] w-full items-center justify-between gap-5 bg-white p-2 hover:bg-gray-100"
           href="#">
            <div class="h-[80px] w-[80px] min-w-[80px] overflow-hidden rounded-lg border">
                <img class="h-full w-full object-cover" src="~/@item.ProductImg*" alt="product" />-->
            </div>
            <div class="flex w-full flex-col">
                <h6 class="clamp-2 break-all text-lg font-semibold">
                    @item.ProductName
                </h6>
                <div class="flex gap-2">
                    <div class="flex gap-1 leading-7 text-gray-400">
                        <span>@item.Quantity</span>

                    </div>
                    <div class="flex items-center gap-2">
                        <span class="font-bold text-primary-color">$@item.Price</span>
                        <small class="text-xs text-primary-color line-through">$50.00</small>
                    </div>
                </div>
            </div>
            <div class="transition-all-300 flex text-slate-400 hover:text-primary-color">
                <i class="bi bi-trash-fill pointer-events-none text-2xl"></i>
            </div>
        </a>
    }
}
else
{
    <h3 class="text-center">Bạn chưa thêm sản phẩm nào!</h3>
}